ANTHROPIC_API_KEY=
ARBITRUM_RPC_URL=
AUTH_SECRET=
AVALANCHE_RPC_URL=
BASE_RPC_URL=
BITCOIN_RPC_PASSWORD=
BITCOIN_RPC_URL=
BITCOIN_RPC_USER=
BSC_RPC_URL=
DATABASE_URL=
ETHEREUM_RPC_URL=
GEMINI_API_KEY=
JWT_SECRET=
OPTIMISM_RPC_URL=
POLYGON_RPC_URL=
SOLANA_RPC_URL=
TRACECHAIN_TRON_API_KEY=
TRON_RPC_URL=